



/*
	Here we are clearing floated items to ensure that
	our 'grid' structure can have different rows
*/

[class^='grid-col-'] {
	/*float: left;*/
	display: inline-block;
	margin: 0; 
	/*text-align: center; /* center the content in this block by default */
}
.grid100{
	width:100%;
}
.grid-col-1of2 { /*main page second row*/
	width:48%;
	
}
.right{
	float:right;
}

.left{
	float:left;
}
.block{
	display: block;

}
.clear{
	clear:both;
}


.grid-col-1of4 {
	float:left;
	width:25%;
}


.grid-col-1of4-leftnav {
	float:left;
	width:25%;
}

.grid-col-2of3{
	width:60%;

}

.grid-col-1of3{
	width:32%;
	margin-bottom: 3em;
}

.grid-col-1of3-box{
	width:32%;
	margin-top: 0.7em;
}
.grid-col-3of4{
	width:71%;
}

.grid-col-1of6{

	width:7%;
	margin-bottom: 3em;
}
.grid-col-5of6{
	width:83%;
}


@media screen and (max-width: 1162px){
	.grid-col-1of4-leftnav {
	width:100%;
	margin-left: 20px;
	clear:both;
	}

	.grid-col-1of4{
		width:33%;
	}
	.grid-col-1of3{
		clear:both;
		width:100%;
		margin-bottom: 3em;
	}
	.grid-col-2of3{
		clear:both;
		width:100%;
	}

	.grid-col-1of6{
	
	width:15%;
	margin-bottom: 3em;
	clear:both;
	margin-top:3em;
}
.grid-col-5of6{
	width:95%;
	

	
}


}

.grid-row:after {
	content: "";
	display: block;
	clear: both;
	margin:0 auto;
	max-width:1800px;
}

@media screen and (max-width: 1400px){

}

@media screen and (max-width: 812px){
	.grid-col-1of4-leftnav {
	width:100%;
	clear:both;
	}
	.grid-col-1of4{
		width:50%;
	}
	.grid-col-1of2 { /*main page second row*/
	width:100%;
	}

}

ul{
	list-style: none;
}
