/*-----------------------overall design------------------------------*/

img{
	width:100%;
	height:auto;
	margin:0;
	display:block;
}


body{
	background-image: url('background-main.png');
    
}


/*landing page title*/
h1{
	font-size: 2.5em;
	color:#d7d7d7;
	padding-top: 0;
	margin: 2em;
}


/*sub-header*/
h2{
	color: #d7d7d7;
	margin-top:1em;
	margin-bottom:1em;
	clear: both;
}


/*detail page tage*/
h3{
	font-size: 1.5em;
	color: #d7d7d7;;
}


/*contact&share page tag */
h4{
	font-size: 1.5em;
	color: #66c6c5;
	margin-top: 5rem;
}

h5{
	font-size: 1em;
	color: #66c6c5;
	margin-top: 0rem;
}

strong{
	text-transform: uppercase;
	font-size:2em;
}

p{
	color: #d7d7d7;
	font-size: 1.4rem;
}

header{
	display: block;
	width:100%;
	margin-top: 3em;
	margin-bottom: 3em;
}

/*additional font design*/

.message{
	font-size: 1.7rem;
}

.title{
	font-size: 2.5rem;
	font-weight: bold;
}

.navigation{
	max-width: 1800px;
	width:94%;
}

.pna{
	font-size: 2.3rem;
}

.artist{
	font-size:0.6em;
}

.turquoise{
	color: #66c6c5
}

.grey{
	color: #d7d7d7;
}

.bold{
	font-weight: bold;
}

/*image style*/

.logo{
	position: relative;
	width:100px;
	height: 100px;
	display: inline-block;

}

.logo img{
	max-width:100%;
	max-height:100%;
}

.landing-image{
	width:30%;
}

#cart-img{
	width: 50%;
}

#cssmenu{
	display: inline-block;
	float:right;
	margin-top:45px;
	font-size: 20px;
}
.event{
	width:100%;
	margin-top:30px;
}



figure img{
	width:100%;
	opacity:1;
}

figure:hover img {
  opacity: .5;
}

figure{
	
	width:90%;
	position:relative;
}
figure a{
	text-decoration: none;
}

figcaption {
  position: absolute;
  top:1em;
  left:1rem;
  right:1rem;
  color: white;

  visibility: hidden;
  opacity: 0;
}

figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

article {
	max-width:1800px;
	width:94%;
	display:block;
}

.center{
	margin:0 auto;
}

.textcenter{
	text-align: center;
}

.textright{
	text-align: right;
}
.textleft{
	text-align:left;
}

.footnote{
	padding: 2em 0;
}

footer{
	clear:both;
	width:100%;
	
}

.detailed{
	max-width: 1300px;
	width:100%;

}

.zero-t-margin{
	margin-top: 0em;
}

.ext-t-margin{
	margin-top: 5em;
}

.zero-b-margin{
	margin-bottom: 0em;
}

.ext-b-margin{
	margin-bottom: 3.5em;
}

.half-b-margin{
	margin-bottom: 1.25em;
}
/*-----------------------overall design done------------------------------*/





/*-------home.html-------*/
.backdeco{
	margin-top: 8em;
	margin-bottom: 8em;
	background: url(../img/parallex1.png) no-repeat center center fixed;
	height: auto;
	background-size:cover;
	max-width:100%;
	padding-top: 1000px;
}

.footer{

	margin-top: 20em;
	
	background: url(../img/footer2.png) no-repeat center center fixed;
	
	background-size:cover;
	width:100%;
	padding-bottom: 600px;


}


.slidediv{padding-top:25px;}
.slide{text-align:center; position:relative; width: 100%; margin-top:0px; display: block; clear:both;}

.slide_ul{display: block; margin-top:20px; width: 100%;}
.slide_ul>li{position:absolute; top:0; left:0; list-style:none;z-index:10; display: block; width:100%;}
.slide_ul>li img{}
li{list-style: none;}

.show{display:block;}

.slide_btn>li{float: left; margin:0 5px 5px 0;}
.slide_btn>li>a{display:block; width: 14px; height:14px; background: url(../img/circle.png) -24px -125px; text-indent: -999em; }
.slide_btn>li>a.active{background-position: 0 -126px;}

.slide_btn{z-index:90000; position:absolute; right: 0; bottom:0; }

.slide_btn:after{content:''; display:block; clear:both;}
.slide_btn{*zoom:1;}

/*-------home done-------*/






/*-----------------------navigation button------------------------------*/
.button-nav {
  display: inline-block;
  font-weight: bold;
  margin-left: 5rem;
  color: #d7d7d7;
  font-size:2rem;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  color: #66c6c5;
}

#small-navi {
	margin-top: 2em;
	margin-bottom: 3em;
}

.button-smallnav {
  display: inline-block;
  font-weight: bold;
  font-size:12px;
  margin-right: 2rem;
  color: #d7d7d7;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.arrow{
	 display: inline-block;
  	font-weight: bold;
  	font-size:12px;
  	margin-right: 2rem;
  	color: #d7d7d7;
  	text-decoration: none;
}

.button-smallnav:hover, .button-smallnav:focus {
  color: #66c6c5;
}
/*-----------------------navigation button done------------------------------*/











/*----------------------buy, submit button style-------------------------------*/
.button-sub {
  display: inline-block;
  padding: 0.5em 3em;
  margin-top:2em;
  margin-bottom: 2em;
  color: #4a4a4a;
  background-color: #d7d7d7;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-sub:hover, .button-nav:focus {
  background-color: #66c6c5;
}
/*----------------------button done---------------------------------*/





/*----------------------input field & dropdown---------------------------------*/

.inputField{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 25px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #5b5b5b;

}


.inputFieldBody{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 170px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #5b5b5b;
}

.inputFieldCart{
	display: inline-block;
	outline: none;
	width: 60%;
	height: 25px;
	padding: 0.25rem;
	margin-top: 1rem;
	border: 0.2em solid #66c6c5;
	color: #5b5b5b;

}


.block{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 35px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #5b5b5b;
}

/*----------------------input field & drop down done---------------------------------*/















/*-----------------------popup---------------------------------*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  -webkit-box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
  position:fixed;
  left:0;
  top:0;
  width:300px;
  height:440px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 25px;

}

#boxes #dialog {
  width:320px; 
  height:475px;

  
  background-color:#ffffff;
}


.window input[type="text"],

.window input[type="email"],

.window input[type="url"],

.window textarea
 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.window input[type="expiredDate"],
.window input[type="cvc"]
{
	 box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 49%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;

    
}

.mask{
	width:1934px;
	height:1293px;
	display: none;
	opacity: 0.8;
}

/*-----------------------popupdone---------------------------------*/












/*-----------------------SHOPPAGE LEFTNAV------------------------------*/


#themes .button-leftnav{


  
  font-weight: bold;
  margin-left: 5rem;
  color: #d7d7d7;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;


}

#themes .button-leftnav:hover, #themes .button-leftnav:focus {
  color: #66c6c5;
}

#themes .showall{
	font-weight: bold;
  margin-left: 5rem;
  color: #66c6c5;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;


}




/*-----------------------SHOPPAGE LEFTNAV DONE------------------------------*/








/*-----------------------tablet version------------------------------*/
@media screen and (max-width: 1162px){
	
	

	figure{
	margin-left: 0;
	margin:20px;
	}

	#cssmenu{
		clear: both;
		margin: 0 auto;
		width:105%;
		/*display:block;*/
	}

	.logo{

		margin:0 auto;
		width:50px;
		height: 50px;
		display: block;

	}

	.logo img{
		max-width:100%;
		max-height:100%;
	}

	.button-nav {
	  display: inline-block;
	  font-weight: bold;
	  width:24%;
	  
	  color: #d7d7d7;
	  text-decoration: none;
	  -webkit-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
	  font-size: 2rem;
	  margin-left: 0;
	  text-align: center;
	}

	#themes{
		width: 105%;
	}
	#themes .button-leftnav{
		display: inline-block;
		width: 20%;
		

	}
	#themes .showall{
		display: inline-block;
		width: 20%;
		


	}


	#small-navi {
	margin-bottom: 2em;
	float:left;
}


}
/*-----------------------tablet version done------------------------------*/








/*-----------------------mobile size---------------------------------*/

@media screen and (max-width: 812px){

	

	
	.button-nav {
		  display: inline-block;
		  font-weight: bold;
		  text-align: right;
		  width: 94%;
		  color: #6d616f;
		  text-decoration: none;
		  -webkit-transition: color 0.5s ease-out;
		  transition: color 0.5s ease-out;
		  font-size: 1.5rem;
		  margin-left: 0;
	}
  
  

	#cssmenu {
		clear:both;
	    width: 100%;
	    margin-top: 20px;
	    margin-bottom: 25px;

	   
	}
	 
	#cssmenu ul {
	    position: absolute;
	    width: 100px;
	    top:110px;
	    right:47px;
	    display: none;
	    border-top: 4px solid #dddddd;
	    border-bottom: 4px solid #dddddd;
	}
	  
	    
	#cssmenu #menu-button {
	    cursor: pointer;
	}
	 
	#cssmenu #menu-button:after {
	    position: absolute;
	    top: 40px;
	    right: 47px;
	    display: block;
	    height: 10px;
	    width: 40px;
	    border-top: 4px solid #dddddd;
	    border-bottom: 4px solid #dddddd;
	    content: '';
	}

	#cssmenu #menu-button:before {
	    position: absolute;
	    top: 58px;
	    right: 47px;
	    display: block;
	    height: 12px;
	    width: 40px;
	    
	    content: '';
	    border-bottom: 4px solid #dddddd;
	    
	}
	  
	  
	.logo{
		position: absolute;
		top:30px;
		display: inline-block;
	}

	.logo img{
		max-width:100%;
		max-height:100%;
	}

	#themes .button-leftnav{
			display: inline-block;
			width: 15%;
	}


	#themes .showall{
			display: inline-block;
			width: 15%;
	}
}


/*-----------------------mobile size done---------------------------------*/





/*-----------------------contact main image & follow icons done------------------------------*/


#crossfading{
	position: relative;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-right: 10%;
	margin-top: 12%;
}

#crossfading img{
	position: absolute;
	left: 0;
	display: inline-block;
	-webkit-transition: opacity 5s ease-out;
    transition: opacity 0.5s ease-out;
}

.follow-icon-top:hover, .follow-icon-top:focus {
  opacity: 0;
}


/*-----------------------contact main image & follow icons done------------------------------*/









/*-----------------------divider -----------------------------*/
.divider{
	display: inline-block;
	border-top: 0.15em solid #66c6c5;
	border-bottom: 0.15em solid #66c6c5;

}

.bottom-divider{
	display: block;
	border-bottom: 0.15em solid #66c6c5;
	margin-top: 1.2em;
}

/*-----------------------divider DONE------------------------------*/


/*------------detail page-----------------*/

