/*-----------------------overall design------------------------------*/

img{
	width:100%;
	height:auto;
	margin:0;
	display:block;
}

body{
	background-color: #171717;
}

h2{
	color: #eaeaea;
	margin-top:3em;
	margin-bottom:1em;
	clear: both;
}

h3{
	color: #eaeaea;
}

h4{
	margin-top: none;
	font-size: 1.5em;
	color: #66c6c5;
	margin-top: 0.5em;
}

strong{
	text-transform: uppercase;
	font-size:2em;
}

p{
	color: #eaeaea;
}

.contact-message{
	font-size: 1.4rem;
}

.contact-title{
	font-size: 2.5rem;
	font-weight: bold;
}

.navigation{
	max-width: 1800px;
	width:94%;
}

header{
	display: block;
	width:100%;
	margin-top: 5em;
	margin-bottom: 6em;
}

.logo{
	position: relative;
	width:100px;
	height: 100px;
	display: inline-block;

}

.logo img{
	max-width:100%;
	max-height:100%;
}

.menu{
	display: inline-block;
	float:right;
	margin-top:45px;
	font-size: 20px;
}
.event{
	width:100%;
	margin-top:30px;
}


figure img{
	width:100%;
	opacity:1;
}

figure:hover img {
  opacity: .5;
}

figure{
	
	width:90%;
	position:relative;
}

figcaption {
  position: absolute;
  top:1em;
  left:1rem;
  right:1rem;
  color: white;

  visibility: hidden;
  opacity: 0;
}

figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

article {
	max-width:1800px;
	width:94%;
	display:block;
}

.center{
	margin:0 auto;
}

.textcenter{
	text-align: center;
}

.textright{
	text-align: right;
}
.textleft{
	text-align:left;
}

.footnote{
	padding: 4em 0;
}

footer{
	clear:both;
}

.detailed{
	max-width: 1300px;
	width:100%;

}
/*-----------------------overall design done------------------------------*/




/*-----------------------navigation button------------------------------*/
.button-nav {
  display: inline-block;
  font-weight: bold;
  margin-left: 5rem;
  color: #eaeaea;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  color: #66c6c5;
}
/*-----------------------navigation button done------------------------------*/











/*----------------------buy, submit button style-------------------------------*/
.button-sub {
  display: inline-block;
  padding: 0.5em 3em;
  margin-top:2em;
  margin-bottom: 2em;
  color: #4a4a4a;
  background-color: #eaeaea;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-sub:hover, .button-nav:focus {
  background-color: #66c6c5;
}
/*----------------------button done---------------------------------*/





/*----------------------input field---------------------------------*/

.inputFieldShort{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 25px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #d9d9d9;

}

.inputFieldLong{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 25px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #d9d9d9;

	
}

.inputFieldBody{
	display: inline-block;
	outline: none;
	width: 100%;
	height: 170px;
	padding: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: 0.2em solid #66c6c5;
	color: #d9d9d9;
}


/*----------------------input field done---------------------------------*/








/*-----------------------mobile version------------------------------*/
@media screen and (max-width: 1025px){
	
	.navigation{
		background-color: pink;
		
	}

	figure{
	margin-left: 0;
	margin:20px;
	}

	.menu{
		clear: both;
		margin: 0 auto;
		width:100%;
		display:block;
	}

	.logo{

		margin:0 auto;
		width:50px;
		height: 50px;
		display: block;

	}

	.logo img{
		max-width:100%;
		max-height:100%;
	}

	.button-nav {
	  display: inline-block;
	  font-weight: bold;
	  width:24%;
	  color: #6d616f;
	  text-decoration: none;
	  -webkit-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
	  text-align: center;
	  margin-left: 0;
	}
}
/*-----------------------mobile version done------------------------------*/



/*-----------------------popup---------------------------------*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  -webkit-box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
box-shadow: 13px 18px 24px 6px rgba(0,0,0,0.75);
  position:fixed;
  left:0;
  top:0;
  width:300px;
  height:440px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 25px;

}

#boxes #dialog {
  width:320px; 
  height:475px;
  padding:60px;
  background-color:#ffffff;
}


.window input[type="text"],

.window input[type="email"],

.window input[type="url"],

.window textarea
 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.window input[type="expiredDate"],
.window input[type="cvc"]
{
	 box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 49%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;

    
}


/*-----------------------popupdone---------------------------------*/

